@page "/"
@using NanoBlogEngine.BlazorSite.Components.Posts;

<div id="wrapper">
    <div id="columns">
        <PostMiniature />
        <PostMiniature />
        <PostMiniature />
        <PostMiniature />
        <PostMiniature />
    </div>
</div>