<header>
    <nav class="left">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img src="http://placehold.it/110x70" alt="Blog Logo">
    </div>
    <nav class="right">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>