@inherits LayoutComponentBase
@*
    <NavMenu></NavMenu>
    <div class="container my-5">

        @Body

    </div>

*@


<header>
    <nav class="left">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
        </ul>
    </nav>
    <div class="logo">
        <!-- Reemplaza 'ruta-del-logo' con la ruta de tu imagen de logo -->
        <img src="http://placehold.it/110x70" alt="Logo del Blog">
    </div>
    <nav class="right">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- <img src="http://placehold.it/350x150"> -->
<main>
    <div class="page-title">This is a Blog</div>
    <div id="wrapper">
        <div id="columns">
            <div class="pin">
                <img src="http://placehold.it/350x150" alt="" />
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 1</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>




            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 3</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 4</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <img src="http://placehold.it/350x250" alt="" />
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 2</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>



            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 3</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 4</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 3</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title 4</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>
            <div class="pin">
                <img src="http://placehold.it/350x150" alt="" />
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <img src="http://placehold.it/350x250" alt="" />
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>
            <div class="pin">
                <img src="http://placehold.it/350x150" alt="" />
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <img src="http://placehold.it/350x250" alt="" />
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

            <div class="pin">
                <div>
                    <small>01/07/1997 - 22 likes</small>
                    <h3>Post Title</h3>
                    Content, content, content, content, content, content, content, content....
                    <p class="read-post">Read post</p>
                </div>
            </div>

        </div>
    </div>

</main>



<footer>
    <p>Derechos de autor © 2023 - Nombre de tu Blog</p>
</footer>