<div class="pin">
    <img src="http://placehold.it/350x250" alt="" />
    <div>
        <small>01/07/1997 - 22 likes</small>
        <h3>Post Title 2</h3>
        Content, content, content, content, content, content, content, content....
        <p class="read-post">Read post</p>
    </div>
</div>

@code {

}